## Importing Libraries

In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score

## Dataset

In [3]:
df = pd.read_csv('iris.csv')

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df.columns = df.columns.str.lower()
df.head()

   id  sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm      species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
df.describe().round()

          id  sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm
count  150.0          150.0         150.0          150.0         150.0
mean    76.0            6.0           3.0            4.0           1.0
std     43.0            1.0           0.0            2.0           1.0
min      1.0            4.0           2.0            1.0           0.0
25%     38.0            5.0           3.0            2.0           0.0
50%     76.0            6.0           3.0            4.0           1.0
75%    113.0            6.0           3.0            5.0           2.0
max    150.0            8.0           4.0            7.0           2.0

In [11]:
df.isnull().sum()

id               0
sepallengthcm    0
sepalwidthcm     0
petallengthcm    0
petalwidthcm     0
species          0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [12]:
df.corr(numeric_only=True)

,id,sepallengthcm,sepalwidthcm,petallengthcm,petalwidthcm
id,1.000000,0.716676,-0.397729,0.882747,0.899759
sepallengthcm,0.716676,1.000000,-0.109369,0.871754,0.817954
sepalwidthcm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
petallengthcm,0.882747,0.871754,-0.420516,1.000000,0.962757
petalwidthcm,0.899759,0.817954,-0.356544,0.962757,1.000000

## Data Splitting

In [20]:
X = df.drop(['species'], axis=1)
y = df['species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
len(X_train), len(X_test)

(120, 30)

In [35]:
dt = DecisionTreeClassifier(max_depth=2)
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

In [42]:
prediction = dt.predict(X_test)
print("The accuracy of the Decision Tree is: ", dt.score(X_test, y_test))

The accuracy of the Decision Tree is:  1.0

In [36]:
from sklearn.tree import export_text
tree_text = export_text(dt, feature_names=list(X.columns))
print(tree_text)

|--- petallengthcm <= 2.45
|   |--- class: Iris-setosa
|--- petallengthcm >  2.45
|   |--- id <= 100.50
|   |   |--- class: Iris-versicolor
|   |--- id >  100.50
|   |   |--- class: Iris-virginica